#autofarm-button-container {
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
}

#autofarm-button-container > div {
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 11px;
}

#autofarm-window {
    visibility: hidden;
}

#autofarm-window p,
#autofarm-window h3 {
    color: black;
}
