#interface-autofarm {
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
}

#interface-autofarm > div {
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 11px;
}

#wrapper.window-open #interface-autofarm > div {
    left: 720px;
}

#autofarm-window {
    visibility: hidden;
}

#autofarm-window p,
#autofarm-window h3 {
    color: black;
}

#autofarm-window input[type=text],
#autofarm-window input[type=number] {
    width: 100%;
}

#autofarm-save {
    width: 180px;
    height: 25px;
    margin: 6px;
    line-height: 24px;
    border: none;
}
