#autofarm-button {
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 11px;
    margin-bottom: 10px
}

#autofarm-window {
    display: none
}

#autofarm-window input {
    background: #b89064;
    width: 150px
}

#autofarm-window .box-paper {
    color: black
}
